// Created by Mallikarjun on 06-07-2017.
html
	head
	
	body
		h4 Thank You.
		h4 Your order status is #{message}
		h4 Your Transaction ID for this transaction is #{transaction_id}
		h4 We have received a payment of Rs #{amount}